body {
  margin: 10px;
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: radial-gradient(lightpink, transparent);
}

.todo-item {
  list-style: none;
  width: 99%;
}

.list {
  display: flex;
}

.list:last-child {
  margin-bottom: 100px;
}

.todo-item.selected {
  text-decoration: line-through;
  color: red;
}

.close {
  color: red;
  font-weight: bolder;
}

span {
  cursor: pointer;
}

.todo-app {
  width: 70%;
  margin: auto;
}

input:first-child {
  width: 83%;
  height: 35px;
  font-size: 20px;
  padding: 5px 10px;
}

input:last-child{
  width: 15%;
  height: 49px;
  border: 0;
  background: green;
  color: white;
  font-size: 20px;
}

.title {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 35px;
}

.add-todo {
  margin-bottom: 40px;
  display: flex;
}

.list:nth-child(2n) {
  background: lightgray;
  padding: 10px;
  border: 1px solid white;
}

.list:nth-child(2n + 1) {
  background: lightgreen;
  padding: 10px;
  border: 1px solid white;
}
